html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#one {
  background-color: pink;
  height: 100vh;
}
#tow {
  background-color: yellow;
  height: 100vh;
}
#three {
  background-color: rgb(46, 241, 150);
  height: 100vh;
}
a {
  position: relative;
  top: 40vh;
  left: 40vw;
  font-size: 2em;
  color: black;
  text-decoration: none;
}
img {
  position: relative;
  top: 55vh;
  left: 32vw;
  animation: scrollImg 1s infinite;
}

#img3 {
  position: relative;
  top: 55vh;
  left: 32vw;
  animation: scrollImg 1s infinite;
  animation-direction: reverse;
}

@keyframes scrollImg {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}
